    {% extends "base.html" %}
{% block title %}Blog 1{% endblock %}
{% block css %} <link rel="stylesheet" href="../static/css/style1.css">{% endblock %}
{% block header_class %}sub-header{% endblock %}
   {% block header %}
   
    <h1>Blog - 1</h1> 
    {% endblock %}
    {% block body %} 
    <div class="container">
        <div class="hero"></div>
        <main>
            <h2>FAMOUS BIRDERS OF THE WORLD</h2>
            <div class="profile-container">
                <div class="profile">
                    <div class="img-container">

                    </div>
                    <div class="text">
                        <h3>Asmita Mondal</h3>
                        <p>January 2, 2023</p>
                    </div>
                </div>
            </div>
            <div class="content">
                <p>Congratulations on beginning your path to joining the tens of millions of birdwatchers worldwide! In addition to being a thrilling and entertaining hobby for people of all ages, birdwatching is healthy for your general welfare due to the physical and cerebral exercise involved.
                    With their ardor for birdwatching, people have over time shaped birdwatching history. Meet those chosen ones who, among the expanding ranks of bird guides worldwide, are influencing, reforming, and improving birdwatching worldwide while helping to redefine the nature experiences of thousands of people.
                    </p>
                    <h4>JOHN AUDUBON</h4>
                   <p>Self-taught French-American ornithologist, naturalist, and artist John James Audubon. His combined passions for art and ornithology led him to develop a plan to create a comprehensive visual record of every species of bird found in North America.He was renowned for his in-depth research on all varieties of American birds as well as his meticulous illustrations that showed the birds in their natural settings. The Birds of America, a color-plate book that served as his main publication, is regarded as one of the best ornithological works ever produced. In addition, Audubon is credited with discovering 25 new species.  The scientific community still uses dozens of scientific names that Audubon first published.</p> 
                   <center><img src="../static/images/pictures/john.jpg" class="pic"></center> 
                   <h4>PHOEBE SNETSINGER</h4>
                    <p>The first person to see more than 8,000 birds was an American birder named Phoebe Snetsinger, who is renowned for having observed and recorded birds from 8,398 distinct species at the time. Birding on Borrowed Time, her memoir, recounts this accomplishment. She made numerous trips throughout the globe in search of birds in their natural habitats. She was said to have a good memory and a strong sense of competition.</p>
                <center><img src="../static/images/pictures/phoebe.jpg" class="pic"></center>
                    <h4>PETER GRAHAM KAESTNER</h4>
                    <p>According to specialized websites like www.surfbirds.com and www.ebid.org, Peter Graham Kaestner, a former American ambassador, is among the world's top bird watchers. He is among those who, thanks to their devotion, have been able to tour the globe and have seen more bird species than anyone else. He presently holds the top spot on Ebird's specialized platform with 9332 species observed, 4648 species captured on camera, and 1044 bird songs recorded.</p>
                <center><img src="../static/images/pictures/peter.jpg" class="pic"></center>
                    <h4>IQBAL ALI KHAN</h4>
                    <p>The 25-year-old was born and nurtured in a small village in Drass, where he developed an early interest in birds while chasing them in his backyard and then watching them through his father's binoculars while in college. His fascination eventually developed into a passion, which is now his full-time job. He is currently the sole local birder at the top of the list on the well-known website Ebird, having observed over 120 different bird species in the Kargil district and over 110 in the Leh district. Saker Falcon, Black-necked Crane, Eurasian Eagle Owl, Tibetan Partridge, Little Owl, Ground Tit, White-browed Tit Warbler, Bearded Vulture, and Golden Eagle are a few of the notable species he has seen.</p>
                <center><img src="../static/images/pictures/iqbal.png" class="pic"></center>
                    <h4>JIMMY CARTER</h4>
                    <p>US President Jimmy Carter has reportedly gone birding in over 25 different nations, according to an interesting post and comments at Birds Etcetera. USN claims that he even found time to go birdwatching in the Middle East while juggling his official obligations.</p>
                <center><img src="../static/images/pictures/jimmy.jpg" class="pic"></center>
                    <h4>SUDHA AMMA</h4>
                    <p>Expert birder Sudha Amma came from modest circumstances. She formerly operated a tiny tea shop close to the Thattekad Bird Sanctuary. Soon after, she vividly became interested in birds and continued to study them with Dr. Suganathan, a pupil of the late Dr. Sálim Ali. Sudha Amma founded the Jungle Bird guesthouse as her enthusiasm for animals and birdwatching deepened. Almost all of the bird species present in Thattekad's breeding season, migration patterns, and calls are now familiar to her. She leads birdwatchers for hours into the forest despite being 65 years old.</p>
                <center><img src="../static/images/pictures/sudha.jpg" class="pic"></center>
                    <h4>DR. BERNARD MASTER</h4>
                    <p>Dr. Bernard F. Master is a renowned physician, entrepreneur, and conservationist who practises over the world. He practised medicine for more than 30 years after earning his medical degree from Philadelphia College of Osteopathic Medicine. He is a well-known birder who inspired the naming of the Chocó vireo (Vireo masteri). Master has observed more than 8,325 birds in the wild, making him one of the few Americans to have seen a representative of every family of extant birds in the world (248). 'No Finish Line: Discovering the World's Secrets One Bird at a Time' is his book.</p>
                    <center><img src="../static/images/pictures/bernard.jpeg" class="pic"></center>
                    <h4>SALIM ALI</h4>
                    <p>Salim Ali, also known as "The Birdman of India," was born in Mumbai in 1896 and is undoubtedly India's most well-known bird observer. In actuality, he was the pioneer of systematic bird surveys in India and is credited with popularising ornithology there. Early in his youth, Salim Ali lost both of his parents. He was raised by his uncle, who recognised his passion for birds and connected him with a friend at the Bombay Natural History Society (BNHS). He began volunteering at the BNHS after school when he was 12 years old, feeding his love of birds. He began writing his first book, The Book Of Indian Birds, in 1941 and finished 13 more volumes after that. There is no denying that Salim Ali had a significant impact on Indian ornithology. </p>
                <center><img src="../static/images/pictures/salim1.jpg" class="pic"></center>
                
                </div>
                <div class="tags">
                    <p>tags:</p>
                    <a href="#">Famous Birders</a>
                    <a href="#">Inspiration</a>
                    <a href="#">Birding</a>
                    <a href="#">Bird-watching</a>
                </div>
        </main>
    </div>
    {% endblock %}