  {% extends "base.html" %}
   {% block title %}Blogs{% endblock %}
   {% block header_class %}sub-header{% endblock %}
      {% block header %}
       <h1>Blogs</h1>
       {% endblock %}
   {% block body %}
   <section class="features1">
<div class="row1">
    <div class="feature-col1">
        <a href="/blog/1">
        <h3>Famous Birders of the World</h3>
        
            <img src="../static/images/pictures/famous.jpeg" alt="Avatar" style="width:300px;height:200px;border:1px solid grey">
            <center><button class="btn1">Read More...</button></center>
        </a>
    </div>
    <div class="feature-col1">
        <a href="/blog/3">
        <h3>Birding: The Five S's</h3>
       
            <img src="../static/images/pictures/5ss.png" alt="Avatar" style="width:300px;height:200px;border:1px solid grey">
            <center><button class="btn1">Read More...</button></center>
        </a>
        </div>
    <div class="feature-col1">
        <a href="/blog/2">
        <h3>Birding Ethics</h3>
        
            <img src="../static/images/pictures/ethics.jpg" alt="Avatar" style="width:300px;height:200px;border:1px solid grey">
            <center><button class="btn1">Read More...</button></center>
        </a>
        </div>
</div>
</section>
{% endblock %}