{% extends "base.html" %}
{% block title %}Blog 2{% endblock %}
{% block css %} <link rel="stylesheet" href="../static/css/style1.css">{% endblock %}
{% block header_class %}sub-header{% endblock %}
   {% block header %}
   
    <h1>Blog - 2</h1> 
    {% endblock %}
    {% block body %} 
    <div class="container">
        <div class="hero1"></div>
        <main>
            <h2>THE BIRDING ETHICS</h2>
            <div class="profile-container">
                <div class="profile">
                    <div class="text">
                        <h3>Asmita Mondal</h3>
                        <p>February 21, 2023</p>
                    </div>
                </div>
            </div>
            <div class="content">
                <p>As birders, we adore spending time with and sharing space with birds in their natural habitat.  Awe at the beauty and sheer variety of birds is at the heart of bird watching. Regardless of the reason we go looking for birds, though, we always run the risk of upsetting and hurting the animals we are watching. Sharing space with wildlife can indirectly hurt it by disturbing it. While out in the field, it's critical that we consider our effects on any wildlife, other birders, and non-birders we may come into contact with.  Ideally, we can all simply observe wildlife behavior without attempting to change it. We must protect the birds' natural habitat and behavior if we want to spread this joy to others. The ethics of birding are based on this idea. All birders, regardless of experience level, are expected to follow this code.
                    </p>
                    
                    <h4>What is Birding Ethics All About?</h4>
                   <p>Birding ethics are essentially a set of guidelines for bird viewing that are intended to reduce the stress that people' intrusions put on birds and their environments. As bird watching becomes more and more popular, this code becomes even more crucial. The harm to birds' surroundings and natural behavior increases as more people visit areas where birds live. </p> 
                   <center><img src="../static/images/pictures/bird.jpg" class="pic1"></center> 
                   <br><br><br>
                   <p>The best practices listed in the following bird code list were selected based on individual experience, common sense, and moral standards established by birding organizations. Although extensive, it is by no means all-inclusive. You are free to make your own decisions based on the specific facts as long as you are aware of the spirit of the law.</p>
                   <center><img src="../static/images/pictures/research.jpg" class="pic2"> </center>
                   <h4>Your Role as a Leader</h4>
                   <p>When leading a group of birders, be mindful of the size of the group to prevent it from destroying the habitat or obstructing other users of the same area. Follow this code and set an excellent ethical example. Always be honest while observing and reporting. </p>
                <p>Birding ought to be enjoyable and contribute to a better future for wildlife, birders, and everyone else. Keep in mind that your behavior affects how others view the birding community and can have a significant impact on the people you are birding with.</p>
                </div>
                <div class="tags">
                    <p>tags:</p>
                    <a href="#">Birding Ethics</a>
                    <a href="#">Birding rules</a>
                    <a href="#">Birding</a>
                    <a href="#">Bird-watching</a>
                </div>
        </main>
    </div>
{% endblock %}