{% extends "base.html" %}
{% block title %}Threats{% endblock %}
{% block header_class %}sub-header{% endblock %}
{% block header %}
<h1>Contact Us</h1>
{% endblock %}
{% block body %}
<section class="location">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3684.806476659947!2d88.35398331427324!3d22.54892103952353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a02771aad282713%3A0x62c7778aead16f97!2sSt.%20Xavier&#39;s%20College%20(Autonomous)%20-%20Kolkata!5e0!3m2!1sen!2sin!4v1680117747378!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>

<section class="contact-us">
    <div class="row">
        <div class="contact-col">
            <div>
                <i class="fa fa-home"></i>  
                <span>
                    <h5>XYZ Road, ABC Building</h5>
                    <p>Kolkata,West Bengal,In</p>
                </span>
            </div>
            <div>
                <i class="fa fa-phone"></i>  
                <span>
                    <h5>+91 0123456789</h5>
                    <p>Monday to Saturday, 10am to 6pm</p>
                </span> 
            </div>
            <div>
                <i class="fa fa-envelope-o"></i>  
                <span>
                    <h5>avescape.2023@gmail.com</h5>
                    <p>Email us your queries. Response in 24 hrs.</p>
                </span>    
            </div>
            
    </div>
    <div class="contact-col">
        <form action="/contact" method="POST">
            <input type="text" placeholder="Name" name="fname" required>
            <input name="email" type="email" placeholder="Email" required>
            <input type="number" name="num" placeholder="Phone" required>
            <textarea placeholder="Message" name="message" rows="6"></textarea>
            <button type="submit" class="hero-btnred-btn" onclick="alert('Message submitted successfully')">Send Message</button>
        </form>
    </div>
</div></section>
{% endblock %}